<div class="row">
	<div class="col-12">
		<div class="card ">
			<div class="card-header ">
				<div class="row">
					<div class="col-6 text-left">
						<h5 class="card-category">
							Current Status
						</h5>
						<h2 class="card-title">
							Image
						</h2>
					</div>
					<div class="col-6 text-left">
						<h5 class="card-category">
							Current Status
						</h5>
						<h2 class="card-title">
							Status
						</h2>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-6">
						<img
							class="img-fluid"
							src="data:image/png;base64, <%= data.status.image%>"
							alt="current image"
						/>
					</div>
					<div class="col-6">
						<table class="table">
							<tbody>
								<tr>
									<td>BRIGHTNESS</td>
									<td><%= data.status.brightness %></td>
								</tr>
								<tr>
									<td>HUMIDITY</td>
									<td><%= data.status.humidity %></td>
								</tr>
								<tr>
									<td>TEMPERATURE</td>
									<td><%= data.status.temperature %></td>
								</tr>
								<tr>
									<td>AUTOMODE</td>
									<td><%= data.status.automode %></td>
								</tr>
								<tr>
									<td>LED</td>
									<td><%= data.status.led %></td>
								</tr>
								<tr>
									<td>FAN</td>
									<td><%= data.status.fan %></td>
								</tr>
								<tr>
									<td>WATER</td>
									<td><%= data.status.water %></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<h2 class="card-title">
			Config
		</h2>
		<table class="table">
			<tbody>
				<tr>
					<td>BRIGHTNESS</td>
					<td><%= data.config.brightnessSetValue %></td>
				</tr>
				<tr>
					<td>TEMPERATURE</td>
					<td><%= data.config.temperatureSetValue %></td>
				</tr>
				<tr>
					<td>AUTOMODE</td>
					<td><%= data.config.automode %></td>
				</tr>
				<tr>
					<td>LED</td>
					<td><%= data.config.led %></td>
				</tr>
				<tr>
					<td>FAN</td>
					<td><%= data.config.fan %></td>
				</tr>
				<tr>
					<td>WATER</td>
					<td><%= data.config.water %></td>
				</tr>
				<tr></tr>
			</tbody>
		</table>
	</div>
</div>
